<%= form_with(model: survey, local: true) do |form| %>
  <% if survey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(survey.errors.count, "error") %> prohibited this survey from being saved:</h2>

      <ul>
      <% survey.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>


  <%= form.fields_for :survey_problems do |builder| %>
    <p>
      <%= builder.label :statement, "Question" %>
      <%= builder.text_area :statement %>
    </p>
    <p>
      <%= builder.label :required, "Required" %>
      <%= builder.check_box :required %>
    </p>
    <%= builder.label :survey_problem_type %>
    <%= builder.select :survey_problem_type, [0,1,2] %><br>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
